<footer class="container">
  <div class="footer-description">
    <div class="footer-logo-container">
      <div class="footer-logo">
        <svg class="footer-logo-icon" width="123" height="16">
          <use href="../img/icons.svg#logo"></use>
        </svg>
      </div>
      <div class=".footer-contacts-info">
        <address class="footer-contacts">
          <a href="tel:+380665438912" target="_blank">UK: +38 066 543 8912</a>
          Ukraine, Kyiv
        </address>
      </div>
    </div>
    <div class="footer-block-social-menu">
      <div class="social-networks">
        <ul class="social-networks-links">
          <li class="social-networks-links-item">
            <a href="https://www.instagram.com/goitclub/" target="_blank"
              >Instagram</a
            >
          </li>
          <li class="social-networks-links-item">
            <a href="https://www.facebook.com/goITclub/" target="_blank"
              >Facebook</a
            >
          </li>
          <li class="social-networks-links-item">
            <a href="https://www.youtube.com/c/GoIT" target="_blank">Youtube</a>
          </li>
        </ul>
      </div>
      <div class="footer-menu">
        <ul class="footer-menu-list">
          <li class="footer-menu-list-item">
            <a href="#about-us" target="_blank">About us</a>
          </li>
          <li class="footer-menu-list-item">
            <a href="#our-courses" target="_blank">Our courses</a>
          </li>
          <li class="footer-menu-list-item">
            <a href="#our-mentors" target="_blank">Our mentors</a>
          </li>
          <li class="footer-menu-list-item">
            <a href="#reviews" target="_blank">Reviews</a>
          </li>
          <li class="footer-menu-list-item">
            <a href="#contacts" target="_blank">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-submit">
      <form class="submit-form">
        <label class="submit-label" for="user-submit">
          <input
            class="submit-input"
            id="user-submit"
            type="email"
            name="user-submit"
            placeholder="Enter your email"
        /></label>
        <button class="button-submit" type="submit">Go</button>
      </form>
    </div>
  </div>

  <div class="footer-info">
    <div class="policy-text">
      <p>Privacy Policy</p>
      <p>Public Offering Agreement</p>
    </div>
    <p class="copyright-text">2023 Focus Frame © All rights reserved</p>
  </div>
</footer>
