<header class="header">
  <div class="header-inner">
    <svg class="logo" width="127" height="20">
      <use href="./img/icons.svg#logo"></use>
    </svg>
    <ul class="dsk-header-list">
      <li><a class="dsk-header-link" href="#about-us">About us</a></li>
      <li><a class="dsk-header-link" href="#our-courses">Our courses</a></li>
      <li><a class="dsk-header-link" href="#our-mentors">Our mentors</a></li>
      <li><a class="dsk-header-link" href="#reviews">Reviews</a></li>
      <li><a class="dsk-header-link" href="#contacts">contacts</a></li>
    </ul>

    <div class="icon-header-mobile">
      <div class="camera">
        <svg width="16" height="16">
          <use href="./img/icons.svg#mobile-camera">
            <a href="#sign-up"></a>
          </use>
        </svg>
      </div>

      <button class="header-btn-menu" type="button" data-menu-open>
        <svg width="32" height="22">
          <use href="./img/icons.svg#mobile-nav"></use>
        </svg>
      </button>
    </div>
  </div>
  <a class="btn-link-anc" href="#sign-up">Sign up </a>
</header>

<div class="backdrop is-hidden" data-menu>
  <div class="header-nav-menu">
    <button class="nav-menu-close" type="button" data-menu-close>
      <svg width="32" height="32">
        <use href="./img/icons.svg#mobile-menu-close"></use>
      </svg>
    </button>
    <ul class="menu-list">
      <li class="menu-link-first">
        <a class="link" href="#about-us">About us</a>
      </li>
      <li class="menu-link">
        <a class="link" href="#our-courses">Our courses</a>
      </li>
      <li class="menu-link">
        <a class="link" href="#our-mentors">Our mentors</a>
      </li>
      <li class="menu-link"><a class="link" href="#reviews">Reviews</a></li>
      <li class="menu-link"><a class="link" href="#contacts">contacts</a></li>
    </ul>
    <div class="container-img-camera">
      <picture>
        <source
          srcset="
            ./img/header/camera-nav-menu-tablet.jpg    1x,
            ./img/header/camera-nav-menu-tablet@2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./img/header/camera-nav-menu.jpg    1x,
            ./img/header/camera-nav-menu@2x.jpg 2x
          "
        />
        <img src="./img/header/camera-nav-menu.jpg" alt="camera" />
      </picture>
    </div>
  </div>
</div>
