<section class="section">
  <div class="hero">
    <div class="hero-content">
      <h1 class="main-title">
        Discover the magic of
        <span class="main-title-span">photography</span> in <br />our school
      </h1>
      <p class="hero-description">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>
      <div class="galery-link">
        <div class="avatars">
          <ul class="users-list">
            <li class="users-list-item first">
              <picture>
                <source
                  media="(min-width: 768px )"
                  srcset="
                    ./img/hero/avatars/avatar-1-tab.jpg    1x,
                    ./img/hero/avatars/avatar-1-tab@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767.8px )"
                  srcset="
                    ./img/hero/avatars/avatar-1-mob.jpg    1x,
                    ./img/hero/avatars/avatar-1-mob@2x.jpg 2x
                  "
                />
                <img
                  class="hero-avatar"
                  src=" ./img/hero/avatars/avatar-1-mob.jpg"
                  alt="Avatar"
                />
              </picture>
            </li>
            <li class="users-list-item second">
              <picture>
                <source
                  media="(min-width: 768px )"
                  srcset="
                    ./img/hero/avatars/avatar-2-tab.jpg    1x,
                    ./img/hero/avatars/avatar-2-tab@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767.8px )"
                  srcset="
                    ./img/hero/avatars/avatar-2-mob.jpg    1x,
                    ./img/hero/avatars/avatar-2-mob@2x.jpg 2x
                  "
                />
                <img
                  class="hero-avatar"
                  src=" ./img/hero/avatars/avatar-2-mob.jpg"
                  alt="Avatar"
                />
              </picture>
            </li>
            <li class="users-list-item third">
              <picture>
                <source
                  media="(min-width: 768px )"
                  srcset="
                    ./img/hero/avatars/avatar-3-tab.jpg    1x,
                    ./img/hero/avatars/avatar-3-tab@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767.8px )"
                  srcset="
                    ./img/hero/avatars/avatar-3-mob.jpg    1x,
                    ./img/hero/avatars/avatar-3-mob@2x.jpg 2x
                  "
                />
                <img
                  class="hero-avatar"
                  src=" ./img/hero/avatars/avatar-3-mob.jpg"
                  alt="Avatar"
                />
              </picture>
            </li>
          </ul>
          <a href="#reviews" class="hero-link-students" href="#">
            <p class="hero-link-students-text">Our happy students</p>
            <svg class="hero-icon-arrow" width="18" height="9">
              <use href="./img/icons.svg#hero-arrow"></use>
            </svg>
          </a>
        </div>
        <div class="hero-reviews-block">
          <div class="hero-review-icon">
            <svg width="20" height="20">
              <use href="./img/icons.svg#star "></use>
            </svg>
          </div>
          <div class="hero-reviews-block-inside">
            <p class="hero-review-text">Reviews</p>
            <p class="hero-review-numbers">+1500</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-img-block">
      <picture class="hero-image-pic"
        ><source
          media="(min-width: 1280px)"
          srcset="
            ./img/hero/man/hero-man-desk.png    1x,
            ./img/hero/man/hero-man-desk@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px )"
          srcset="
            ./img/hero/man/hero-man-tab.png    1x,
            ./img/hero/man/hero-man-tab@2x.png 2x
          "
        />
        <source
          media="(max-width: 767.8px )"
          srcset="
            ./img/hero/man/hero-man-mob.png    1x,
            ./img/hero/man/hero-man-mob@2x.png 2x
          "
        />

        <img
          class="hero-image"
          src="./img/hero/man/hero-man-mob.png"
          alt="Man"
        />
      </picture>
    </div>
  </div>
</section>
