<section class="section">
  <div class="container" style="color: aliceblue">
    <div class="hero">
      <div class="hero-content">
        <h1 class="main-title">
          Discover the magic of photography in our school
        </h1>
        <p class="hero-description">
          Our photography school offers an unforgettable journey, where you can
          learn the basics of composition, master technical skills, translate
          your unique ideas.
        </p>
        <div class="galery-link">
          <ul class="users-list">
            <li class="users-list-item">
              <picture></picture>
            </li>
            <li class="users-list-item">
              <picture></picture>
            </li>
            <li class="users-list-item">
              <picture></picture>
            </li>
          </ul>
          <a class="hero-link-students" href="#">
            Our happy students
            <svg width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
        </div>
        <div class="hero-reviews-block">
          <div class="hero-review-icon">
            <svg width="20" height="20">
              <use href=""></use>
            </svg>
          </div>
          <div>
            <p class="hero-review-text">Reviews</p>
            <p class="hero-review-numbers">+1500</p>
          </div>
        </div>
      </div>
      <div class="hero-img">
        <picture>
          <source media="(man-width: 767.8px )" srcset="" />
          <source media="(min-width: 768px )" srcset="" />
          <source media="(min-width: 1280px)" srcset="" />
        </picture>
      </div>
    </div>
  </div>
</section>
