<section class="courses container" id="our-courses">
  <div class="courses-text">
    <h2 class="courses-header">Our&nbsp;<span>Courses</span></h2>
    <p class="courses-text-content">
      At our photography school, we offer a variety of courses that cover all
      aspects of this fascinating art. Regardless of your experience or skill
      level, we have courses to suit your needs and goals.
    </p>
  </div>
  <ol class="courses-list">
    <li class="courses-list-item">
      <div class="courses-list-item-cont">
        <p class="courses-list-item-num">01</p>
        <a href="#sign-up">
          <div class="courses-list-arrow-bg">
            <svg class="courses-list-arrow" width="20" height="20">
              <use href="../img/icons.svg#courses-arrow"></use>
            </svg>
          </div>
        </a>
      </div>
      <h3 class="courses-list-header">Basics of <br />photography</h3>
      <p class="courses-list-text">
        During this course, you will be able to familiarize yourself with
        different types of cameras, learn the basics of composition.
      </p>
    </li>
    <li class="courses-list-item">
      <div class="courses-list-item-cont">
        <p class="courses-list-item-num">02</p>
        <a href="#sign-up">
          <div class="courses-list-arrow-bg">
            <svg class="courses-list-arrow" width="20" height="20">
              <use href="../img/icons.svg#courses-arrow"></use>
            </svg>
          </div>
        </a>
      </div>
      <h3 class="courses-list-header">Landscape <br />photography</h3>
      <p class="courses-list-text">
        In this course, you'll learn how to choose the right angles, frame
        landscapes, and create depth and perspective in your images.
      </p>
    </li>
    <li class="courses-list-item">
      <div class="courses-list-item-cont">
        <p class="courses-list-item-num">03</p>
        <a href="#sign-up">
          <div class="courses-list-arrow-bg">
            <svg class="courses-list-arrow" width="20" height="20">
              <use href="../img/icons.svg#courses-arrow"></use>
            </svg>
          </div>
        </a>
      </div>
      <h3 class="courses-list-header">Portrait <br />photography</h3>
      <p class="courses-list-text">
        During this course, you will learn to choose the right lighting,
        reproduce the mood and expressions on the faces of the models.
      </p>
    </li>
  </ol>
</section>
