<!-- Our Mentors Section -->
<section class="mentor-section container" id="#our-mentors">
  <div class="mentor-container">
    <h2 class="mentor-title-section">
      Our <span class="mentor-title-span">Mentors</span>
    </h2>
    <ul class="mentor-list">
      <li class="mentor-item">
        <img
          src="./img/our-mentors/mentor1-min.jpg"
          srcset="
            ./img/our-mentors/mentor1-min.jpg    1x,
            ./img/our-mentors/mentor1@2x-min.jpg 2x
          "
          alt="Mentor card 1"
          width="180"
          height="180"
        />
        <div class="mentor">
          <h3 class="mentor-title">Emilia Smith</h3>
          <p class="mentor-text">1.5 years of experience</p>
        </div>
      </li>
      <li class="mentor-item">
        <img
          src="./img/our-mentors/mentor2-min.jpg"
          srcset="
            ./img/our-mentors/mentor2-min.jpg    1x,
            ./img/our-mentors/mentor2@2x-min.jpg 2x
          "
          alt="Mentor card 2"
          width="180"
          height="180"
        />
        <div class="mentor">
          <h3 class="mentor-title">Alex Lebedev</h3>
          <p class="mentor-text">3.5 years of experience</p>
        </div>
      </li>
      <li class="mentor-item mentor-mia">
        <img
          src="./img/our-mentors/mentor3-min.jpg"
          srcset="
            ./img/our-mentors/mentor3-min.jpg    1x,
            ./img/our-mentors/mentor3@2x-min.jpg 2x
          "
          alt="Mentor card 3"
          width="180"
          height="180"
        />
        <div class="mentor">
          <h3 class="mentor-title">Mia Dubrovska</h3>
          <p class="mentor-text">2.0 years of experience</p>
        </div>
      </li>
      <li class="mentor-item">
        <img
          src="./img/our-mentors/mentor4-min.jpg"
          srcset="
            ./img/our-mentors/mentor4-min.jpg    1x,
            ./img/our-mentors/mentor4@2x-min.jpg 2x
          "
          alt="Mentor card 4"
          width="180"
          height="180"
        />
        <div class="mentor">
          <h3 class="mentor-title">Eliot Kovalev</h3>
          <p class="mentor-text">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
