<section class="reviews-container container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="contant-wrap-r">
    <li class="reviews-contant">    
    <div class="student-reviews">
        <img src="./img/reviews/abrahambaker_tel.png"
             srcset="./img/reviews/abrahambaker_tel.png 1x,
                     ./img/reviews/abrahambaker_tel@2x.png 2x"
             alt="foto"
             width="56"
             height="56" />
        <div class="student-title">
            <h3 class="reviews-name">Abraham Baker</h3>
            <p class="reviews-status">Student</p>
        </div>
    </div>
    
    <ul class="star-svg-list">
        <li>
            <svg class="star-reviews" width="16" height="16">
                <use href="./img/icons.svg#icon-vector-star"></use>
            </svg>
        </li>
        <li>
            <svg class="star-reviews" width="16" height="16">
                <use href="./img/icons.svg#icon-vector-star"></use>
            </svg>
        </li>
        <li>
            <svg class="star-reviews" width="16" height="16">
            <use href="./img/icons.svg#icon-vector-star"></use>
        </svg>
        </li>
        <li>
            <svg class="star-reviews" width="16" height="16">
                <use href="./img/icons.svg#icon-vector-star"></use>
            </svg>
        </li>
        <li>
            <svg class="star-reviews-last" width="16" height="16">
                <use href="./img/icons.svg#icon-vector-star"></use>
            </svg>
        </li>
    </ul>
    <p class="reviews-text">
        I am very pleased that I decided to enroll in photography school. The teachers turned out to be very talented and experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my skills and discover my own style.
    </p>
</li>
        <li> 
            <li class="reviews-contant student-second">    
                <div class="student-reviews">
                    <img src="./img/reviews/amandalowery.png"
                         srcset="./img/reviews/amandalowery.png 1x,
                                  ./img/reviews/amandalowery@2x.png 2x"
                         alt="foto"
                         width="56"
                         height="56" />
                    <div class="student-title">
                        <h3 class="reviews-name">Amanda Lowery</h3>
                        <p class="reviews-status">Student</p>
                    </div>
                </div>
                
                <ul class="star-svg-list">
                    <li>
                        <svg class="star-reviews" width="16" height="16">
                            <use href="./img/icons.svg#icon-vector-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="star-reviews" width="16" height="16">
                            <use href="./img/icons.svg#icon-vector-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="star-reviews" width="16" height="16">
                        <use href="./img/icons.svg#icon-vector-star"></use>
                    </svg>
                    </li>
                    <li>
                        <svg class="star-reviews" width="16" height="16">
                            <use href="./img/icons.svg#icon-vector-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="star-reviews-last" width="16" height="16">
                            <use href="./img/icons.svg#icon-vector-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="reviews-text">
                    The courses at the photography school exceeded all my expectations. I gained not only technical knowledge, but also inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me understand different styles of photography.
                </p>
</li>
</ul>
</section>