<section id="sign-up" class="container sign-up-section">
  <div class="sign-up-inner">
    <div class="sign-up-content">
      <h2 class="sign-up-tittle">Sign <span class="tittle-part">Up</span></h2>
      <p class="sign-up-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="register-form">
        <div class="form-field">
          <label class="register-label" for="user-name"></label>
          <input id="user-name" class="register-input" type="text" name="user-name" pattern=".{2,}"
            placeholder="Enter your name" />
        </div>
        <div class="form-field">
          <label class="register-label" for="user-email"></label>
          <input id="user-email" class="register-input" type="email" name="user-email"
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" placeholder="Enter your email" />
        </div>
        <div class="form-field-message">
          <label class="register-label" for="user-message"></label>
          <textarea id="user-message" class="register-textarea" type="text" name="user-message" pattern=".{2,}"
            placeholder="Message"></textarea>
        </div>
      </form>
      <button class="sign-up-button" type="submit">Send</button>
      <p class="privacy-policy">
        By clicking on "Send" button, you agree to our <a class="privacy-policy-link"
          href="./privacy-policy.html">Privacy
          Policy</a>,
        <br> and allow
        Promodo to use this information for marketing purposes.
      </p>
    </div>
    <div class="sign-up-img">
      <div class="image-small-cam">
      </div>
      <div class="image-big-cam">
      </div>
    </div>
  </div>
</section>