<section id="sign-up" class="section">
  <div class="container">
    <h2 class="sign-up-tittle">Sign <span class="tittle-part">Up</span></h2>
    <p class="sign-up-text">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <form class="register-form">
      <div class="form-field">
        <label class="register-label" for="user-name"></label>
        <input id="user-name" class="register-input" type="text" name="user-name" pattern=""
          placeholder="Enter your name" />
      </div>
      <div class="form-field">
        <label class="register-label" for="user-email"></label>
        <input id="user-email" class="register-input" type="email" name="user-email" pattern=""
          placeholder="Enter your email" />
      </div>
      <div class="form-field-message">
        <label class="register-label" for="user-message"></label>
        <textarea id="user-message" class="register-textarea" type="text" name="user-message" pattern=""
          placeholder="Message"></textarea>
      </div>
    </form>
    <button class="sign-up-button" type="submit">Send</button>
    <p class="privacy-policy">
      By clicking on "Send" button, you agree to our <a class="privacy-policy-link" href="./privacy-policy.html">Privacy
        Policy</a>, and allow
      Promodo to use this information for marketing purposes.
    </p>
    <div class="sign-up-img">
      <div class="image-small-cam">
        <img src="../img/sign-up/small-cam.png" alt="Isabella Mendes" width="150" />
      </div>
      <div class="image-big-cam">
        <img src="../img/sign-up/big-cam.png" alt="Video entry product" width="240" />
      </div>
    </div>
  </div>
</section>