/* Mobile */
.about-us-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-us-header {
  color: var(--white, #fff);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  text-transform: capitalize;
}

.about-us-header-span {
  color: var(--brown, #bea69e);
}

.about-us-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-us-img {
  width: 100%;
  height: 100%;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-us-paragraph {
  color: var(--white, #fff);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .about-us-container {
    gap: 50px;
  }

  .about-us-header {
    font-size: 48px;
    line-height: 1.12;
    letter-spacing: -0.04em;
  }

  .about-us-img {
    width: 704px;
    height: 340px;
  }

  .about-us-content {
    display: flex;
    gap: 50px;
  }

  .about-us-text {
    flex-direction: row;
    gap: 40px;
  }

  .about-us-paragraph-item {
    width: 280px;
  }

  .about-us-paragraph {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .about-us-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .about-us-img {
    width: 488px;
    height: 260px;
  }

  .about-us-text {
    gap: 20px;
  }

  .about-us-paragraph-item.first-p {
    width: 268px;
  }
  .about-us-paragraph-item.second-p {
    width: 264px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us-content {
    display: flex;
    gap: 50px;
  }

  .about-us-img {
    width: 560px;
    height: 240px;
  }

  .about-us-text {
    gap: 40px;
  }

  .about-us-paragraph-item.first-p {
    width: 314px;
  }
  .about-us-paragraph-item.second-p {
    width: 276px;
  }
}
