.container {
  /* to see container boundaries, delete later */
  outline: 2px solid red;
  outline-offset: -2px;
}

/* Mobile */
.about-us-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-us-header {
  color: var(--white, #fff);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: -1.12px;
  text-transform: capitalize;
}

.about-us-header-span {
  color: var(--brown, #bea69e);
}

.about-us-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-us-img {
  border-radius: 1000px;
  background-color: var(--brown, #bea69e);
}

.about-us-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-us-paragraph {
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .about-us-container {
    gap: 50px;
  }

  .about-us-header {
    font-size: 48px;
    line-height: 1.12em;
    letter-spacing: -1.92px;
  }

  .about-us-img {
    width: 704px;
    height: 340px;
  }

  .about-us-content {
    display: flex;
    gap: 50px;
  }

  .about-us-text {
    flex-direction: row;
    gap: 40px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .about-us-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .about-us-img {
    width: 488px;
    height: 260px;
  }

  .about-us-text {
    gap: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us-content {
    display: flex;
    gap: 50px;
  }

  .about-us-img {
    width: 560px;
    height: 240px;
  }

  .about-us-text {
    gap: 40px;
  }
}
