footer {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    color: var(--white);
    width: 100%;


}

a {
    color: var(--white);
    width: 100%;
}

.footer-logo {
    fill: var(--white);
    margin-top: 40px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 40px;
    gap: 10px;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.footer-block-social-menu {
    display: flex;
    gap: 40px;
    margin-bottom: 75px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.footer-menu-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.submit-input {
    width: 216px;
    height: 60px;
    border-radius: 12px;
    border: 1px solid var(--white);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding: 18px 20px;
    color: var(--black);
}

.button-submit {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    border: 1px solid var(--light_black);
    background-color: var(--light_black);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--white);
}

.submit-form {
    display: flex;
    gap: 8px;
}

.submit-input {
    width: 100%;
    height: 60px;
    margin-bottom: 40px;
}

.submit-label {
    width: 100%;
    max-width: 267px;
}

.footer-logo-icon {
    width: 127px;
    height: 20px;

}

.social-networks-links {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
}

.copyright-text {
    width: 116px;
    height: 36px;
}

.footer-logo-container {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
    footer {
        padding-left: 32px;
        padding-right: 32px;
    }

    .footer-logo {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .footer-logo-icon {
        width: 123px;
        height: 16px;
    }

    .footer-contacts {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .footer-block-social-menu {
        display: flex;
        gap: 25px;
        margin-bottom: 0;
        margin-top: 50px;
        padding-right: 3px;
    }

    .social-networks-links {

        gap: 20px;
    }

    .footer-menu-list {
        gap: 20px;
    }

    .submit-form {
        margin-top: 50px;

    }

    .footer-description,
    .submit-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .submit-label {
        width: 100%;
        max-width: 178px;
    }

    .footer-info {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 25px;
        letter-spacing: 0.002em;
    }

    .copyright-text {
        width: 134px;

    }

}

