.section {
  padding-top: 0;
  padding-bottom: 80px;
}
.hero {
  background-color: var(--light_black);
  width: 100%;
  border-radius: 30px;
  padding: 40px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-content {
  display: flex;
  flex-direction: column;
}

.main-title {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.6px;
  margin-bottom: 20px;
}

.main-title-span {
  font-style: italic;
  color: #bea69e;
}

.hero-description {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  margin-bottom: 40px;
}

.galery-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.avatars {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.users-list {
  display: flex;
  flex-direction: row;
  position: relative;
}

.users-list-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--light_black);
  box-sizing: border-box;
}

.users-list-item.first {
  z-index: 3;
}

.users-list-item.second {
  transform: translateX(-17.5%);
  z-index: 2;
}

.users-list-item.third {
  transform: translateX(-35%);
  z-index: 1;
}

.hero-link-students {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  display: flex;
  max-width: 89px;
  fill: #fff;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.hero-link-students-text {
  max-width: 67px;
}
.hero-icon-arrow {
  width: 18px;
  height: 9px;
}
.hero-reviews-block {
  display: flex;
  gap: 12px;
}

.hero-review-icon {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #bea69e;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: black;
  fill: transparent;
}

.hero-review-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
}

.hero-review-numbers {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -0.64px;
}

.hero-img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
}
.hero-reviews-block-inside {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hero-image {
  margin-top: 31px;
  max-width: 259px;
}

/* Media */
@media screen and (min-width: 768px) {
  .section {
    padding-top: 20px;
    padding-bottom: 100px;
  }
  .hero {
    padding: 64px 32px 0;
  }

  .main-title {
    max-width: 517px;
    font-size: 60px;
    line-height: 1.06;
    letter-spacing: -2.4px;
  }
  .hero-description {
    max-width: 418px;
  }
  .users-list-item {
    width: 54px;
    height: 54px;
  }
  .avatars {
    display: flex;
    flex-direction: row;
  }
  .hero-link-students {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.64px;
    flex-direction: column;
    gap: 8px;
    align-items: start;
  }
  .hero-link-students-text {
    max-width: 82px;
  }
  .galery-link {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 40px;
  }
  .hero-review-icon {
    width: 50px;
    height: 50px;
  }
  .hero-review-text {
    font-size: 16px;
    line-height: 1.24;
  }
  .hero-review-numbers {
    line-height: 1.25;
  }
  .hero-reviews-block-inside {
    gap: 8px;
  }
  .hero-image {
    margin-top: 46px;
    max-width: 393px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 60px;
    padding-bottom: 150px;
  }
  .container.hero-container {
    padding: 0;
  }
  .hero {
    max-width: 1080px;
    padding: 80px 50px 0;
    display: flex;
    flex-direction: row;
  }

  .hero-image {
    margin-top: 0;
    max-width: 397px;
  }
  .main-title {
    max-width: 563px;
    font-size: 64px;
    letter-spacing: -2.56px;
  }
  .hero-description {
    margin-bottom: auto;
  }
  .galery-link {
    margin-bottom: 50.67px;
  }
  .hero-link-students {
    gap: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    max-width: 1440px;
  }
}
