/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./header.css');
@import url('./hero.css');
@import url('./advertisement.css');
@import url('./about_us.css');
@import url('./our_courses.css');
@import url('./our_mentors.css');
@import url('./sign_up.css');
@import url('./reviews.css');
@import url('./footer.css');

/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/**
  |============================
  | GLOBAL STYLES
  |============================
*/

:root {
  --black: #121212;
  --light_black: #1D1D1D;
  --gradient_black: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);
  --brown: #BEA69E;
  --white: #fff;
}

body {
  font-family: 'DM Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  background-color: var(--black);
}

.bgc_wrapper {
  background-image: url(../img/background/bgc_header-hero_mob.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
}

@media only screen and (min-resolution: 192dpi) {
  .bgc_wrapper {
    background-image: url(../img/background/bgc_header-hero_mob@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .bgc_wrapper {
    background-image: url(../img/background/bgc_header-hero_tab.png);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .bgc_wrapper {
    background-image: url(../img/background/bgc_header-hero_tab@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }

  .bgc_wrapper {
    background-image: url(../img/background/bgc_header-hero_laptop.png);
  }

}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .bgc_wrapper {
    background-image: url(../img/background/bgc_header-hero_laptop@2x.png);
  }
}

/**
  |============================
  | GLOBAL STYLES
  |============================
*/